h1 { color: Pink ;
  font-style: oblique; 
  text-align: center; 
  
}
h2{ color: purple; 
   font-style: oblique; 
  
 
}
body {
   background-image: url("https://images.fastcompany.net/image/upload/w_1280,f_auto,q_auto,fl_lossy/fc/3065828-poster-p-1-how-playing-competitive-volleyball-taught-me-the-key-to-in.jpg");
   background-color: #cccccc;
  
}
